<div class="div1">
  <div class="aaa">
    <mat-card style="width: 90%; margin-left: 5%; padding-bottom: 5%">
      <h1>{{ store?.name }}</h1>
      <h3>{{ store?.email }}</h3>
      <h3 style="margin-bottom: 30px">{{ store?.phoneNumber }}</h3>
      <mat-divider></mat-divider>
      <mat-grid-list cols="3" rowHeight="300px">
        <mat-grid-tile *ngFor="let product of store?.products">
          <app-product-card [product]="product"></app-product-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
  </div>
</div>
