<div class="div1">
  <div class="aaa">
    <mat-card style="width: 90%; margin-left: 5%">
      <h1
        style="
          text-align: center;
          margin: 20px;
          font-weight: 300;
          font-size: 30px;
        "
      >
        Your purchase was successful
      </h1>
      <app-purchase-report [purchase]="purchase" *ngIf="processed"></app-purchase-report>
      <div *ngIf="!processed">
        <h2 class="info">Your payment is still being processed</h2>
        <p class="info">Revisit this page until your purchased products are displayed: <a [href]="location">{{location}}</a></p>
        <p class="info">NOTE: If your shopping cart does not disappear, it is an indicator that payment processing is still not successful</p>
      </div>
      <button
        mat-raised-button
        routerLink=""
        style="width: 20%; margin-top: 2%; margin-bottom: 3%; height: 50px"
      >
        Back
      </button>
    </mat-card>
  </div>
</div>
