.div1 {
  height: 100%;
  display: flex;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(255, 203, 233);
}

.card1 {
  margin-top: 10%;
  width: 40%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  padding-top: 20px;
  opacity: 80%;
}
