<div class="div1">
  <div class="aaa">
    <mat-card style="width: 90%; margin-left: 5%">
      <h1 style="text-align: center; margin: 20px">
        <b>Error:</b> Purchase unsuccessful
      </h1>
      <h3
        style="
          text-align: center;
          margin: 10px;
          font-weight: 300;
          font-size: 20px;
        "
      >
        {{ message }}
      </h3>
      <button
        mat-raised-button
        routerLink=""
        style="width: 20%; margin-top: 2%; margin-bottom: 3%; height: 50px"
      >
        Back
      </button>
    </mat-card>
  </div>
</div>
